
<div class="row">
    {{ user.name }}
    <h1>Dashboard</h1>
</div>

<div class="row">
    <div class="col-md-9"></div>
    <div class="col-md-3">
        <a href="/account/question" class="btn btn-primary">Ask Question</a>
    </div>
</div>