<div class="row">
    <div class="col-md-9 col-sm-8 col-xs-9">

        {{#each questions}}

        <div class="search-result-item clearfix">
            <div class="col-md-3 col-sm-3 col-xs-3">
                <div class="row text-center">
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        0
                       votes
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4">0
                        answers
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        10
                        views
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-sm-8 col-xs-9">

                <h4><a href="/question/{{ id }}">{{ title }}</a></h4>
                <p>{{description}}</p>
                
                <div class="row">
                    <div class="col-md-8">

                <p>
                    <span class="label label-default">Default Label</span>
                    <span class="label label-default">Default Label</span>
                    <span class="label label-default">Default Label</span>
                </p>
                    </div>
                    <div class="col-md-4">
                            
                    </div>
                </div>

            </div>

        </div>
        <!--end of item-->
        {{/each}}
        
    </div>
    <div class="col-md-3 col-sm-3 col-xs-3">
        
        {{#if user}}
        <a href="/account/question" class="btn btn-primary">Ask Question</a>
        {{else}}
        <a href="/users/signin" class="btn btn-primary">Ask Question</a>
        {{/if}}

    </div>
</div>

<h1>Questions</h1>
